@media (min-width: 426px) {
  .views {
    font-size: 15px;
    position: sticky;
    top: 0px;
  }
}
/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 426px) {
  .views {
    font-size: 10px;
    padding-top: 1rem;
  }
}

.selected-card {
  background-color: royalblue;
  /* border: 2px solid blue; */
}

.selected-pack {
  /* background: blue; */
  border: 2px solid royalblue;
}
